extends layout

block content
  h1 Markers overview
  div
    h2 Filters
    form(method='post', action='/markers/search', class='form-inline')
      div(class='form group')
      label(for='type', class='control-label col-sm-2') type
      div(class='col-sm-10')
        label street
        input(type='radio' name='type' value='street' checked='true')
        label stand
        input(type='radio' name='type' value='stand')
        label building
        input(type='radio' name='type' value='building')
      div(class='form group')
        label(for='layers', class='control-label col-sm-2') layers
        div(class='col-sm-10')
          div.checkbox
            label(class='checkbox-inline')
              input(type='checkbox', value='Food', name ='layers', checked=true)
              span Food
          div.checkbox
            label(class='checkbox-inline')
              input(type='checkbox', value='Drink', name ='layers', checked=true)
              span Drink
          div.checkbox
            label(class='checkbox-inline')
              input(type='checkbox', value='Entertainment', name ='layers', checked=true)
              span Entertainment
          div.checkbox
            label(class='checkbox-inline')
              input(type='checkbox', value='Transport', name ='layers', checked=true)
              span Transport
          div.checkbox
            label(class='checkbox-inline')
              input(type='checkbox', value='Toilet', name ='layers', checked=true)
              span Toilet
      div(class='form group')
        div(class='col-sm-8')
          input(type='submit', value='Filter', class='btn btn-default')
  
  table(class='table table-hover')
    tr
      th lat
      th lng
      th title
      th type
      th layers
      th actions
    each marker in markers
      tr
        td #{marker.lat}
        td #{marker.lng}
        td #{marker.title}
        td #{marker.meta.type}
        td #{marker.meta.layers}
        td
          a(href='/markers/'+marker._id+'/update', class='btn btn-primary btn-xs')
            span(class='glyphicon glyphicon-pencil')
          a(href='/markers/'+marker._id+'/delete', class='btn btn-danger btn-xs')
            span(class='glyphicon glyphicon-trash')